
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <title>Analyzing Text</title>
    </head>
    <body style="background-color:#28282B;">
       <h1 style="display: flex; justify-content: center; color:#FDFBF9;">
        Activity- {{purpose}}</h1>
       <p  style="color: powderblue;">
        {{analyzed_text}}
       </p>
       
    </body>
</html>